{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{_("Main")}}{% endblock %}

{% block page_content %}
    <h1>{{_("Hello,")}}
    {% if current_user.is_authenticated %}
        {{current_user.username}}</h1>
    {% else %}
        {{_("Stranger")}}</h1>
    {% endif %}

    <div class="song-tabs">
        <ul class="nav nav-tabs">
            <li {% if not show_followed %}class="active"{% endif %}>
                <a href="{{url_for('main.show_all')}}">{{_("All")}}</a>
            </li>
            {% if current_user.is_authenticated %}
            <li {% if show_followed %}class="active"{% endif %}>
                <a href="{{url_for('main.show_followed')}}">{{_("Followed")}}</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% if songs[0] %}
    
        <h2>{{_("Recently published")}}:</h2>
        {% include "_songs.html" %}
    {% endif %}
    {% if pagination.items %}
        {{macros.pagination_widget(pagination, "main.index")}}
    {% endif %}
{% endblock %}