{% extends "base.html" %}

{% block title %}{{_("Results of search:")}} "{{ask}}"{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>{{_("Results of search:")}} "{{ask}}".</h1>
    </div>
    {% if songs[0] %}
        {% include "_songs.html" %}
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous{% if not prev_url %} disabled{% endif %}">
                    <a href="{{prev_url or '#'}}">
                        <span aria-hidden="true">&larr;</span>
                        {{_("Previous results")}}
                    </a>
                </li>
                <li class="next{% if not next_url %} disabled{% endif %}">
                    <a href="{{next_url or '#'}}">
                        <span aria-hidden="true">&rarr;</span>
                        {{_("Next results")}}
                    </a>
                </li>
            </ul>
        </nav>
    {% else %}
        <h4>{{_("Nothing found.")}}</h4>
    {% endif %}
{% endblock %}